<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
  <head th:replace="~{common.html :: #header}"> </head>
  <body>
    <div th:replace="common.html :: #menu"></div>
    <div class="container">
      <div class="row"><h2>La liste des Type de Propriété</h2></div>
      <div class="row col-md-8">
          <p>
            <a href="/propertyType/add" class="btn btn-primary btn-sm">Nouveau type</a>
          </p>
          <table class="table table-bordered table-sm">
            <thead>
              <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr th:each="propertyType : ${propertyTypes}">
                <td style="width: 10%" th:text="${propertyType.id}"></td>
                <td th:text="${propertyType.name}"></td>
                <td>
                  <a th:href="@{/propertyType/update/{id}(id=${propertyType.id})}"
                    ><button class="btn btn-info">Modifier</button></a
                  >
                  <a th:href="@{/propertyType/delete/{id}(id=${propertyType.id})}"
                    ><button class="btn btn-danger">Supprimer</button></a
                  >
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    <div th:replace="common.html :: #js-script"></div>
  </body>
</html>